# Questions on While Loop

#### Take 10 integers from keyboard using loop and print their average value on the screen.

In [ ]:
i = 1
list1 = []
while i <= 2:
    num = int(input())
    list1.append(num)    
    average = sum(list1) / len(list1)
    print('Average : ' , average , " and length of List : " , len(list1) )

## 2. Print multiple star patterns using while loop.
##### Program to print half pyramid using *

In [11]:
rows = int(input('Please enter the number of Rows'))

str="#"

i = 1 
while i <=rows:
    j = 1
    while j <=i:
        print(str , '\t', end = "")
        j = j+1
    print('\n')
    i = i + 1

Please enter the number of Rows4
#

# 	#

# 	# 	#

# 	# 	# 	#

In [3]:
rows = int(input('Please enter the number of Rows'))
str="#"
i = 1 
while i <=rows:
    print(str * i , '\t', end='')    
    i = i + 1    
    print('\n')

Please enter the number of Rows3
#

##

###

In [2]:
 i=1
while i<10:
    print('*'* i)
    i=i+1

*
**
***
****
*****
******
*******
********
*********

## 3. Print multiplication table of 13, 21 and 29 using loop.

In [2]:
i = 1 
while i<=10:
    print (13*i ,' ' , 21*i , ' ' , 29*i )
    i= i +1

13   21   29
26   42   58
39   63   87
52   84   116
65   105   145
78   126   174
91   147   203
104   168   232
117   189   261
130   210   290

##  4. To print the square of all numbers from 0 to 10

In [1]:
i = 0
while i <=10:
    print (i , " ______  " , i * i)
    i = i + 1

0  ______   0
1  ______   1
2  ______   4
3  ______   9
4  ______   16
5  ______   25
6  ______   36
7  ______   49
8  ______   64
9  ______   81
10  ______   100

## 5. To find the sum of all odd and even numbers from 0 to 10

In [3]:
i = 0
sum_odd = 0
sum_even=0
while i <=10:
    if i %2==0:
        sum_odd= i+sum_odd
    else:
        sum_even = i+ sum_even      
    i = i + 1
print('Sum of Odd Values : ' , sum_odd)
print('Sum of Even Values : ' , sum_even)

Sum of Odd Values :  30
Sum of Even Values :  25

## 6. Add all the numbers up to 100. Use Continue and break statement

In [5]:
i = 0
sum = 0
while i <=100:
    if i%2 == 0:
        sum=sum+i
    i = i+1
print(sum)

2550

## 7. Take a list with multiple duplicate items and using while loop add unique elements in another new list

In [35]:
list1 = [2,3,4,3,4,5,4,5,5,4,5,3,5,6,6,7,87,5,5,7,]
num = len(list1)
i=0
j = 0
empty_list=[]
while i <= num-1:    
    str_1 = list1[i]
    if str_1 not in empty_list:
        empty_list.append(i)                     
    i=i+1
print(empty_list)

[0, 1, 2, 3, 4, 5, 13, 14, 15, 16, 19]

## 8. To stops appending items to the new list as soon as it encounters an empty string.

In [74]:
new_list = []
i = 1
while i <= 5:    # Giving Infinite While Loop to enter N number of List Item - once intput item is Blank then Loop will Terminate
    str = input()
    if str == "":            
        break
    else:
        new_list.append(str)      
print(new_list)

3
d
g
5
6

['3', 'd', 'g', '5', '6']

##  9. Program to print first 5 integer and their cubes

In [91]:
i = 1
while i <=5:
    print(i, '  _____  ' , i **3)
    i = i+1

1   _____   1
2   _____   8
3   _____   27
4   _____   64
5   _____   125

##  10. To convert decimal to binary

In [5]:
val = 2.3
val1 = 3.5

# For Loop Question

##  1. Python program to find out the average of a set of integers

In [1]:
list1 = [1,2,3,4,5,6]

print('Sum of Items of given List : ' , sum(list1) , '  Average of given List : ' , sum(list1)/len(list1))

Sum of Items of given List :  21   Average of given List :  3.5

## 2. To display all the multiples of 3 within the range 10 to 50

In [3]:
for i in range(10,51):
    if i % 3 == 0:
        print('Item divisable by 3 : ', i)

Item divisable by 3 :  12
Item divisable by 3 :  15
Item divisable by 3 :  18
Item divisable by 3 :  21
Item divisable by 3 :  24
Item divisable by 3 :  27
Item divisable by 3 :  30
Item divisable by 3 :  33
Item divisable by 3 :  36
Item divisable by 3 :  39
Item divisable by 3 :  42
Item divisable by 3 :  45
Item divisable by 3 :  48

## 3. Program to generate the prime numbers from 1 to N

In [40]:
n = 40
l1 = []
for i in range(2,n+1):
    for j in (range(2,i)):
        if i % j == 0:            
            break
        else:            
            l1.append(i)
final_list = set(l1)
print(final_list)

{3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39}

## 4. Program to find the odd and even numbers in an array

In [45]:
list1 = [54,25,2,3,2,4,2,4,5,7,6,6,7,13,86,6,6,6,4,32,2,3,5]
list1 = set(list1)
list1

{2, 3, 4, 5, 6, 7, 13, 25, 32, 54, 86}

## 5. Program to find the largest number in a list without using built-in functions

In [51]:
list1 = [92, 3, 4, 45, 6, 27, 13, 25, 632, 54, 86]
n = 0
for i in list1:
    if n < i:
        n = i
print(n)

632

## 6. Program to print all the keys, values, items in a dictionary

In [59]:
dict1 = {'Honda City' : 'Black',
        'Maruti' : 'White',
        'Waron-R' : 'Blue',
        'Thar' : 'Black'     
    }

type(dict1)

dict

In [62]:
dict1.keys()

dict_keys(['Honda City', 'Maruti', 'Waron-R', 'Thar'])

In [64]:
dict1.values()

dict_values(['Black', 'White', 'Blue', 'Black'])

In [66]:
dict1.items()

dict_items([('Honda City', 'Black'), ('Maruti', 'White'), ('Waron-R', 'Blue'), ('Thar', 'Black')])

In [72]:
for i,j in dict1.items():
    print('Keys : ' ,i , ' And Items : ' , j)

Keys :  Honda City  And Items :  Black
Keys :  Maruti  And Items :  White
Keys :  Waron-R  And Items :  Blue
Keys :  Thar  And Items :  Black

## 7. Program to find those numbers which are divisible by 4 and multiple of 7, between 1000 and 1600 (both included)

In [76]:
for i in range(1000,1600+1):
    if i%4 == 0 and i%7==0:
        print(i)

1008
1036
1064
1092
1120
1148
1176
1204
1232
1260
1288
1316
1344
1372
1400
1428
1456
1484
1512
1540
1568
1596

## 8. Prints all the numbers from 0 to 50 except multiples of 13.

In [78]:
for i in range(1,50):
    if i%13==0:
        print(i)

13
26
39

## 9. Reverse a string

In [91]:
str = 'Sunil Kumar'
new_str = []
#for i in range(len(str),0):
for i in reversed(str):
    new_str.append(i)
print(new_str)

['r', 'a', 'm', 'u', 'K', ' ', 'l', 'i', 'n', 'u', 'S']

In [94]:
str = 'Sunil Kumar'
new_str = []
for i in str[::-1]:
    new_str.append(i)
print(new_str)

['r', 'a', 'm', 'u', 'K', ' ', 'l', 'i', 'n', 'u', 'S']

In [96]:
str = 'Sunil Kumar'
print(str[::-1])

ramuK linuS

## 10. Print "Hello!, " plus each name in the list. i.e.: "Hello!, Python". use multiple names in a list.

In [97]:
list1 = ['Ved', 'Sunil' , 'Chittaranjan', 'Sandeep']
for i in list1:
    print('Hello! ' , i)

Hello!  Ved
Hello!  Sunil
Hello!  Chittaranjan
Hello!  Sandeep

## 11. We have two lists, pulling common values from both lists and adding the same in thirst list.

In [99]:
list1 = ['Black' , 'White' , 'Yellow' , 'Green' ]
list2 = ['Orange' , 'Purple' , 'Black' , 'White']
list3 = []
for i in list1:
    for j in list2:
        if i == j:
            list3.append(i)
print(list3)

['Black', 'White']

## 12. We have two lists, pulling un-common values from both lists and adding the same in third list.

In [121]:
list1 = ['Black' , 'White' , 'Yellow' , 'Green']
list2 = ['Orange' , 'Purple' , 'Black' , 'White']
list3 = []
for i in list1:
    if i not in list2:
        list3.append(i)

for j in list2:
    if j not in list1:
        list3.append(j)
print(list3)

['Yellow', 'Green', 'Orange', 'Purple']

## 13. We have two lists, pulling un-common values from both lists and adding the same in thirst list. Avoid Duplicates as well.

In [122]:
list1 = ['Black' , 'White' , 'Yellow' , 'Green', 'White' , 'White' ]
list2 = ['Orange' , 'Purple' , 'Black' , 'White']
list3 = []
for i in list1:
    if i not in list2:
        list3.append(i)

for j in list2:
    if j not in list1:
        list3.append(j)
print(list3)

['Yellow', 'Green', 'Orange', 'Purple']

While Loop

1.Take 10 integers from keyboard using loop and print their average value on the screen.
2. print multiple star patterns using while loop.
3. Print multiplication table of 13, 21 and 29 using loop.
4. to print the square of all numbers from 0 to 10
5. to find the sum of all odd and even numbers from 0 to 10
6. adds all the numbers up to 100. Use Continue and break statement
7. take a list with multiple duplicate items and using while loop add unique elements in another new list
8. to stops appending items to the new list as soon as it encounters an empty string.
9. Program to print first 5 integer and their cubes
10. to convert decimal to binary
Note : - Write 4-5 extra programs based on your research. Use Continue and Break statement


For loop

1. Python program to find out the average of a set of integers
2. to display all the multiples of 3 within the range 10 to 50
3. program to generate the prime numbers from 1 to N
4. program to find the odd and even numbers in an array
5. program to find the largest number in a list without using built-in functions
6. program to print all the keys, values, items in a dictionary
7. program to find those numbers which are divisible by 4 and multiple of 7, between 1000 and 1600 (both included)
8. Prints all the numbers from 0 to 50 except multiples of 13.
9. reverse a string
10. print "Hello!, " plus each name in the list. i.e.: "Hello!, Python". use multiple names in a list.
11. We have two lists, pulling common values from both lists and adding the same in thirst list.
12. We have two lists, pulling un-common values from both lists and adding the same in thirst list. 
13. We have two lists, pulling un-common values from both lists and adding the same in thirst list. Avoid Duplicates as well.
Note : - Write 4-5 extra programs based on your research. Use Continue and Break statement